@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {margin:0;padding:0;box-sizing:border-box;font-family:'Lato','Arial',sans-serif;font-size: 16px;}

body,nav{
  background: #DBFBFF;
}

/* HEADINGS */
h1, p, li {color:#1B374F;line-height:1.4;}

p{color: #8892b0;}

h1 {font-size:2rem;}

h2 {color:#000;font-size:1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 1rem;
}

/* LOGO TEXT */
.logoText{
  display: flex;
  align-items: center;
  width: 60px;
  height: 50px;
  /* margin-left: 20px; */
  justify-self: center;
}
.logoText a{text-decoration: none;}
.logoText h1{
  color:#b3aca7;
  margin: 0;
  font-family: "Archivo Black",sans-serif;
}
.logoText h1:hover{border-bottom: 1px solid #b3aca7;}

/*NAVIGATION ITEMS*/

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border:1px solid red;
  width: 30rem;
}

.navbar li{
  text-align: right;
}

.nav-item a {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #b3aca7;
}

.diffC{color: #b3aca7;}

button{
  padding:0.5rem 0.75rem;
  background: none;
  color: #b3aca7;
  border: none;
  outline: 1px solid #b3aca7;
  border-radius: 0.2rem;
  transition: 0.3s;
}
button:hover{background-color:rgba(179,172,167,.5);}

/* SECTIONS */
.bigSection {
  max-width: 50rem;
  height: 42rem;/*max height of box*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}



/* SPECIAL SECTIONS */
.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/*Title Section*/
/*===============*/
#titleSection {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid red;

  width: auto;
}
#titleSection h1,p{ text-align:left;}
#titleOne p{color:#FFED64;}

#testSection {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid red;
  margin: 50% auto 0;
  color: white;
}



/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 1.5rem;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Appear from left Animation */


/*================================================================*/
/* Media Queries */
  /* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 720px) { 
  .features {flex-direction: column; padding: 50px;}
/*==============================*/
  /* MOBILE HEADINGS */
  h1 {font-size: 1.9rem;}
  
  h2 {font-size: 1rem;}
  
  p {font-size: 0.8rem;}
/*==============================*/
  /* MOBILE NAVIGATION */
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 75%;
    height: calc(100vh - 40px);
    transform: translate(-105%);
    text-align: center;
    border-radius: 0 0 3rem 0;
    overflow: hidden;
    background: rgb(34,73,73);
    background: linear-gradient(90deg, rgba(34,73,73,1) 0%, rgba(26,41,41,0.9233893386456145) 100%); 
  }

  .navbar li {padding: 15px;}
  
  .navbar li:first-child {margin-top: 50px;}
  
  .navbar li a {font-size: 2rem;}
  .diffC {font-size: 2rem;}
  button{padding:1rem 1.5rem;font-size: 1.5rem;}
   
  .menu-toggle, .bar {display: block;cursor: pointer;}
  
  .mobile-nav {transform: translate(-6%)!important;} /* 30% works */

/*==============================*/
  /* SECTIONS */
  
  .bigSection {
    height: 95vh;/*Covers Entire Page*/
    width: 23rem;/*Max Width on Mobile Screen*/
  }
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
}